body {
  color: rgb(31, 30, 33);
  background-color:rgb(240, 200, 0);
}

h1 {
 font-size: 10vw;
 text-align: center;
}

h2 {
  font-size: 3vw;
  text-align: left;
  color: rgb(193, 0, 118) ;
 }

 .dhk-message {
  color: rgb(31, 30, 33);
  font-size: 4vw;
  vertical-align: middle;
 }

.dhk-main {
  text-align: right;
}

.dhk-center {
  text-align: center;
  padding: 2vw;
}

.dhk-small {
  text-align: center;
  font-size: 1vw;
  padding: 1vw;
}
.flip-clock {
  display: inline-block;
  width: auto;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  width: 100%;
  }

.dhk-carouseltext {
    font-size: 3vw;
    text-align: center;
    vertical-align: middle;
    color: rgb(199, 181, 181);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }